.toolbar{

    display:flex;

    gap:15px;

    margin:20px 0;

    align-items:center;

}

.toolbar input{

    flex:1;

}

.table-container{

    width:100%;

    overflow-x:auto;

    border-radius:12px;

    border:1px solid #374151;

    background:#111827;

}

#campaignTable{

    width:100%;

    border-collapse:collapse;

    table-layout:fixed;

}

#campaignTable thead{

    background:#1f2937;

}

#campaignTable th{

    padding:16px;

    text-align:left;

    color:#60a5fa;

    font-size:14px;

    white-space:nowrap;

}

#campaignTable td{

    padding:15px;

    border-top:1px solid #374151;

    white-space:nowrap;

    overflow:hidden;

    text-overflow:ellipsis;

}

#campaignTable tbody tr:nth-child(even){

    background:#162033;

}

#campaignTable tbody tr:hover{

    background:#1f2937;

}

.status-online{

    background:#14532d;

    color:#6ee7b7;

    padding:6px 12px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.status-running{

    background:#854d0e;

    color:#fde047;

    padding:6px 12px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.status-failed{

    background:#7f1d1d;

    color:#fca5a5;

    padding:6px 12px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

}

.delete-btn{

    background:#dc2626;

    color:white;

    border:none;

    border-radius:8px;

    padding:8px 16px;

    cursor:pointer;

}

.delete-btn:hover{

    background:#ef4444;

}